RESEND_API_KEY=re_your_api_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
TURNSTILE_ALLOWED_HOSTNAMES=quantumleap-myanmar.com,www.quantumleap-myanmar.com
TURNSTILE_EXPECTED_ACTION=contact
CONTACT_ALLOWED_ORIGINS=https://quantumleap-myanmar.com,https://www.quantumleap-myanmar.com
CONTACT_FROM_EMAIL="QUANTUM LEAP Website <website@send.quantumleap-myanmar.com>"
CONTACT_GENERAL_EMAIL=info@quantumleap-mm.com
CONTACT_QUOTATIONS_EMAIL=cs@quantumleap-mm.com
